@font-face {
  font-family: "iconfont";
  /* Project id 3841631 */
  src: url('../fonts/iconfont.woff2?t=1677598193346') format('woff2'),
    url('../fonts/iconfont.woff?t=1677598193346') format('woff'),
    url('../fonts/iconfont.ttf?t=1677598193346') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daipingjia:before {
  content: "\e604";
}

.icon-daifukuan:before {
  content: "\e605";
}

.icon-quanbudingdan:before {
  content: "\e63f";
}

.icon-daishouhuo:before {
  content: "\e64c";
}

.icon-daifahuo:before {
  content: "\e654";
}

.icon-zhaodaofind2:before {
  content: "\e762";
}

.icon-zhifuchenggong:before {
  content: "\e663";
}

.icon-zhifushibai:before {
  content: "\e664";
}

.icon-dizhi1:before {
  content: "\e641";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-home:before {
  content: "\e64f";
}

.icon-chaye:before {
  content: "\e614";
}

.icon-mima1:before {
  content: "\e602";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-cha:before {
  content: "\e603";
}

.icon-youjiantou:before {
  content: "\e667";
}

.icon-jiarubanji:before {
  content: "\e65d";
}

.icon-dizhi:before {
  content: "\e814";
}

.icon-he_16yijianxiang:before {
  content: "\e707";
}

.icon--shangpinxiangqing-gai:before {
  content: "\e679";
}

.icon-shoucang:before {
  content: "\e618";
}

.icon-chakantiezigengduoshoucang:before {
  content: "\e66e";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-qingkonghuishouzhan:before {
  content: "\e642";
}

.icon-time:before {
  content: "\e65f";
}

.icon-shouye:before {
  content: "\e640";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-qingkongshanchu:before {
  content: "\e66d";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-shijian:before {
  content: "\e638";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-fanhui:before {
  content: "\e607";
}

.icon-fangdajing:before {
  content: "\e6e4";
}

.icon-kefu:before {
  content: "\e629";
}